body {
  text-align: center;
  font-family: Geneva;
  background: linear-gradient(
    rgba(148, 182, 210, 1) 40%,
    rgba(154, 154, 164, 1) 85%,
    rgba(79, 112, 143, 1) 100%
  );
  min-height: 100vh;
}

h1 {
  font-size: 4vw;
  color: darkslategray;
}

nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  background-color: rgba(110, 58, 36, 0.75);
  padding: 1%;
}

.nav-text,
a:visited,
a:link,
a:active {
  color: rgb(200, 200, 227);
  font-size: xx-large;
  text-decoration: none;
}

a:hover {
  color: rgba(123, 126, 141, 1);
}

.title {
  display: flex;
  justify-content: center;
  margin: 1% 0;
}

.subheading {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 2vw;
  text-decoration: underline;
  bottom: 15px;
}

.introText {
  grid-column-start: 2;
  font-size: 105%;
}

.exp {
  display: flex;
  flex-direction: column;
  font-size: 105%;
}

.mainText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  font-size: 1.5vw;
  position: relative;
  top: 8px;
}

.projectPane {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-items: center;
  height: 75vh;
  overflow-y: auto;
}

.projectBox {
  /* display: grid;
  grid-template-rows: 15% 70% 15%; */
  background-color: rgba(79, 112, 143, 1);
  color: whitesmoke;
  border: 2px double rgba(123, 126, 141, 1);
  border-radius: 5px;
  width: 90%;
  margin: 2% 0;
  box-shadow: 0 0 5px black;
}

.proj-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgba(148, 182, 210, 1);
  padding: 1%;
  margin: 0;
  font-weight: bold;
}

.proj-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  margin: 0;
  padding: 1%;
  height: 65%;
}

.proj-links {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px dashed rgba(148, 182, 210, 1);
  padding: 0.5% 0 1%;
}

.proj-links a {
  font-size: 0.9em;
  margin: 0 1%;
}

label {
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  font-size: 16px;
  resize: none;
  padding: 5px 5px;
  background-color: rgb(230, 230, 220);
}

.response {
  margin: 0;
}

#message {
  display: inline-block;
}

.mePictureInfo {
  display: grid;
  grid-template-columns: 2% 1fr 45% 1fr 2%;
  justify-items: center;
}

.mePicture {
  /* max-width: 30vw;
  max-height: 75vh;
  width: auto;
  height: auto; */
  width: 30vw;
  height: 75vh;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
